#GalleryAPP {
    background-color: lightgreen;
    height: auto;
    width: 100%;
    display: inline-block;
}

body {
    margin: 0px;
    padding: 0px;
}

html {
    margin: 0px;
    padding: 0px;
}

#gallery_upload_container {
    width: 60%;
    height: 265px;
    background-color: black;
    display: block;
    margin: 0px;
    padding: 0px;
}

#gallery_upload_container label {
    font-size: 180%;
    width: 100%;
    text-align: center;
    font-family: 'Stencil', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}

#preview {
    position: absolute;
    z-index: 1;
    height: 210px;
    width: 300px;
    top: 340px;
    left: 10px;
    text-align: center;
    color: blue;
    background-color: lightgrey;
}

#gallery_upload_container ul {
    position: absolute;
    top: 325px;
    left: 300px;
    color: green;
    font-size: 110%;
}

#gallery_name {
    width: 250px;
    position: absolute;
    top: 360px;
    left: 340px;
}

#gallery_comment {
    width: 250px;
    position: absolute;
    top: 440px;
    left: 340px;
}

#gallery_upload_container ol {
    position: absolute;
    top: 410px;
    left: 300px;
    color: green;
    font-size: 110%;
    list-style: none;
}

#upload_photo_btn {
    position: absolute;
    top: 513px;
    left: 340px;
    display: block;
    color: red;
    background-color: green;
    width: 250px;
    height: 40px;
    font-size: 150%;
    border-radius: 10px;
}

#upload_photo_btn:hover {
    color: green;
    background-color: red;
}

/* -----------------------------------------------------------------------------------
----------------------------------------------------------------------------
--------------------------------------------------------------------------------------
----------------------------------------------------------------------------
-------------------------------------------------------------------------------------- */

.ng-scope {
    display: inline-table;
}

#gallery_title {
    width: 100%;
    height: 265px;
    font-size: 300%;
    text-align: center;
    padding-top: 80px;
    display: block;
    background-color: lightgreen;
    color: black
}

#images_container {
    width: 100%;
    height: auto;
    display: inline-block;
}

#single_image_container {
    width: 330px;
    margin-left: 20px;
    margin-top: 10px;
    height: auto;
    display: block;
    /* background-color: blue; */
}

#images_container a {
    width: 330px;
    height: 330px;
}

.gallery_images {
    width: 330px;
    height: 330px;
    float: left;
    display: block;
}

.image_comment_container {
    width: 330px;
    height: auto;
    display: block;
    background-color: lightgrey;
    border: 2px solid green;
    border-top: none;
}

.image_comment_text {
    width: 335px;
    display: block;
    padding: 10px;
    color: black;
}

.deletePost {
    color: red;
    display: inline-block;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    /* float: right; */
    margin-top: -320px;
    margin-left: 295px;
}

@media only screen and (max-width: 950px) {
    #test {
        color: red;
    }
    .gallery_images {
        float: none;
        display: inherit;
        /* text-align: center; */
        /* margin-right: 100px; */
    }
    #image_container {
        text-align: center;
    }
}

@media only screen and (max-width: 1007px) {
    .gallery_images {
        text-align: center;
    }
    #gallery_upload_container {
        height: 530px;
        width: 100%;
    }
    #preview {
        margin-left: 15px;
    }
    #gallery_upload_container ul {
        position: absolute;
        top: 555px;
        left: 75px;
        padding-left: 0px;
        color: green;
        font-size: 110%;
    }
    #gallery_name {
        width: 250px;
        position: absolute;
        top: 590px;
        left: 55px;
    }
    #gallery_upload_container ol {
        position: absolute;
        top: 630px;
        left: 75px;
        padding-left: 0px;
        color: green;
        font-size: 110%;
        list-style: none;
    }
    #gallery_comment {
        width: 250px;
        position: absolute;
        top: 665px;
        left: 55px;
    }
    #upload_photo_btn {
        position: absolute;
        top: 760px;
        left: 55px;
    }
}

@media only screen and (max-width: 1510px) {
    #test {
        color: orange;
    }
    .gallery_images {}
}